annotated-types==0.5.0
autocommand==2.2.2
blinker==1.6.2
blueprint==3.4.2
cheroot==10.0.0
CherryPy==18.8.0
click==8.1.7
findspark==2.0.1
Flask==2.3.3
inflect==7.0.0
itsdangerous==2.1.2
jaraco.collections==4.3.0
jaraco.context==4.3.0
jaraco.functools==3.9.0
jaraco.text==3.11.1
numpy==1.24.2
portend==3.2.0
py4j==0.10.9.7
pydantic==2.3.0
pydantic_core==2.6.3
pyspark==3.4.1
pytz==2023.3.post1
tempora==5.5.0
Werkzeug==2.3.7
zc.lockfile==3.0.post1
